<div class="body-containers">
  <h1>Welcome to Noteful<h1>
</div>

<div class="body-containers">
  <%= link_to "Add New Note", new_note_path %><br>
</div>

<div class="body-containers">
  <h3> Choose a Tag below to see only Notes in that category </h3><br>
  <%= form_tag :notes, method: :get do %>
  <div class="select">
    <%= select_tag(:tag, options_for_select(["All Tags", "work", "personal", "hobbies"]), {:class => "tag-dropdown"}) %>
    <%= submit_tag "Submit Tag", class: "button" %>
  </div>
  <% end %>
</div><br>

<div class="body-containers">
  <%= button_to "Newest to Oldest", sort_date_path, class: "button" %>
</div><br>


<div class="body-containers">
  <table style="width:90%">
    <tr id="table-headers">
      <th class="table-header-boxes">Description</th>
      <th class="table-header-boxes">Tag</th>
      <th class="table-header-boxes">Date</th>
    </tr>
    <% @note_filter.notes.each do |note| %>
    <tr class="note">
      <td class="description"><%= note.description %></td>
      <td class="tag"><%= note.tag %></td>
      <td class="date"><%= note.dateCreated %></td>
    </tr>
  <% end %>
</table>
</div>
