<div class="new-body-containers" id="new-headline">
  <h1 id="add-header">Add a New Note</h1>
</div>

<div class="centerizer">
  <div class="new_note" id="spacer">
    <p></p>
  </div>

  <div class="new-body-containers" id="new-note">
    <%= form_tag :notes, method: :post do %>
      <div class="new_note" id="note-labels">
        <%= label_tag 'description', 'Description'%><br>
        <%= text_field_tag 'description', nil, size: 30, maxlength: 250, placeholder: "Your note here"%><br><br>
        <p>Category</p>
        <%= select_tag(:tag, options_for_select(["Work", "Personal", "Hobbies"]),{:class => "new-dropdown"})%><br><br><br>
        <%= submit_tag "Submit New Note", class: "new-button" %><br>
      </div>
    <% end %>
  </div>

  <div class="new_note" id="spacer">
    <p></p>
  </div>
</div>

<div class="new-body-containers">
  <%= link_to "Back to All Notes", notes_path %><br>
</div>
